<%= form_with(model: juice, local: true) do |form| %>
  <% if juice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(juice.errors.count, "error") %> prohibited this juice from being saved:</h2>

      <ul>
      <% juice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :capacity %>
    <%= form.number_field :capacity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :image,"画像" %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
