<p id="notice"><%= notice %></p>
<div class="col-md-10 col-xs-12">
<h1>JUICES</h1><hr>


    <% @juices.each do |juice| %>
      <div class="col-md-3 add_left">
      <%= image_tag juice.image.to_s, style: "width: 100%;" %>       
        <h2><%= juice.name %></h2>
        <p><%= juice.capacity %>
        <%= juice.price %></p>
        <p><%= link_to 'Show', juice, class: "btn btn-primary font_no_iro" %>
        <%= link_to 'Edit', edit_juice_path(juice), class: "btn btn-success" %>
        <%= link_to 'Destroy', juice, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
        
      </div>
    <% end %>
  

<br>

<% link_to 'New Juice', new_juice_path, class: "btn btn-info" %>
</div>

<div class="col-md-2 col-xs-12">
<img src="/top1.jpg" alt="バナー画像" class="img-thumbnail"><br><br>
<img src="/top2.jpg" alt="バナー画像" class="img-thumbnail"><br><br>
  <div class="list-group">
    <a href="#" class="list-group-item active">テキスト</a>
    <a href="#" class="list-group-item">テキスト</a>
    <a href="#" class="list-group-item">テキスト</a>
    <a href="#" class="list-group-item">テキスト</a>
  </div>
</div>